<div class="row">
    <div class="col-md-12">
        <div class="sidenav">
            <a [routerLink]="['/user-dashboard']"> 
                <button class="menubtn" (click)="dashboardcollapse()">
                    <i class="fas fa-home" style="margin-right: 10px"> </i>
                        Dashboard 
                </button>
            </a>
            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#account"
                (click)="accountcollapse()">
                <i class="fas fa-user" style="margin-right: 15px"></i> Account
            </button>
            <div class="collapsebtn" id="account" *ngIf="isAccountCollapsed">
                <a [routerLink]="['/user-dashboard/editprofile']"> 
                    <button class="menubtn" style="background-color: #334247; padding-left: 40px">
                        <i class="fas fa-user-edit"
                                style="margin-right: 15px"></i>
                            Edit Profile
                    </button>
                </a>
                <!--<a [routerLink]="['/user-dashboard/work-in-progress']">
                    <button class="menubtn" style="background-color: #334247; padding-left: 40px">
                        <i class="fas fa-file-alt"
                                style="margin-right: 15px"></i>General Info
                    </button>
                </a>-->
            </div>
            <!-- Requests -->
            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#requests"
                (click)="requestscollapse()">
                <i class="fas fa-exchange-alt" style="margin-right: 15px"></i>Requests
            </button>
            <div class="collapsebtn" id="requests" *ngIf="isRequestCollapsed">
                <a [routerLink]="['/user-dashboard/items']"> 
                    <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                        <i class="fas fa-edit" style="margin-right: 10px">
                            </i> Manage Requests
                    </button>
                </a>
            </div>
            <!-- /Requests -->
            <!-- Returns -->
            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#returns"
                (click)="returnscollapse()">
                <i class="fas fa-undo-alt" style="margin-right: 15px"></i>Returns
            </button>
            <div class="collapsebtn" id="returns" *ngIf="isReturnCollapsed">
                <a [routerLink]="['/user-dashboard/myrequests']"> 
                    <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                        <i class="fas fa-edit" style="margin-right: 10px">
                            </i> Manage Returns 
                    </button>
                </a>
            </div>
            <!-- /Returns -->
            <button class="menubtn" (click)="logout()">
                <i class="fas fa-sign-out-alt" style="margin-right: 15px"></i>Logout
            </button>
        </div>
    </div>
</div>