*{
    text-align: center;
}


/*---------------------
		 Table
---------------------*/
table {
	width: 100%;
	float: left;
	box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
	-webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
}

.t-headers {
	box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
}

.space{
	margin-right: 3rem;
}

th, td {
	text-align: center;
	font-size: 16px;
	width: fit-content;
	padding: 10px;
}

th {
	padding: 10px;
	background-color: rgb(0, 195, 255);
	color: #ffffff;
	position: sticky;
	top: 0;
}

tr:nth-child(even) {
	background-color: rgba(0, 217, 255, 0.055);
}

tr:nth-child(odd) {
	background-color: white;
}

tr:hover {
	background-color: rgba(0, 217, 255, 0.2);
}

td:hover {
	background-color: rgba(0, 217, 255, 0.9);
	transition: 0.2s;
}

/*---------------------
	Input & Select
---------------------*/
input, select{
    background-color: inherit;
	font-size: inherit;
	width: 100%;
	padding: 10px;
	border: 0;
	outline: none;
}

/*---------------------
	    Buttons
---------------------*/
button {
	border: 0;
	padding: 6px 12px;
}

/*---------------------
	 Download Btn
---------------------*/
.btn-download {
	text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.75);
	padding: 10px 30px;
	background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
	font-size: 16px;
	font-weight: bolder;
	margin-top: 30px;
	margin-bottom: 50px;
	text-decoration: none;
}

.btn-download:hover {
	background-position: right center;
    color: #fff;
	text-decoration: none;
}

/*---------------------
	  Second Part
---------------------
.second-part {
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
	-webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
}*/

/*---------------------
	    Filtro
---------------------*/
hr {
	background-color: rgb(0, 238, 255);
	/*box-shadow: 0 0 80px 6px rgba(50, 50, 50, 0.75);*/
}

.searcher {
	margin-bottom: 5em;
    /*padding: 1em;
    border: 2px ridge #00ceff;
    width: 20em;
	border-radius: 24px;
	padding-bottom: 30px;*/
}

.margin-top{
	margin-top: 3rem;
}

.selector{
	width: auto;
	height: 15%;
	font-size: 2rem;
	text-align: center;
	margin-right: 20px;
}

/*---------------------
	    Search
---------------------*/
.btn-search {
	border: 0;
	text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.75);
	padding: 10px 30px;
	font-size: 15px;
	font-weight: bolder;
	background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
	margin:0 auto;
	border-radius: 20px;
}

.btn-search:hover {
	background-position: right center;
    color: #fff;
    text-decoration: none;
}

/*---------------------
	    Results
---------------------*/
.results {
	padding-top: 20px;
}

/*---------------------
	   Download
---------------------*/

.download{
	margin-bottom: 100px;
}

/*---------------------
	 Scoll Option
---------------------*/
.scrollable {
	overflow-y: auto;
	max-height: 32vw;
	padding: 0;
	box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
	-webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
}