<div class="container">
  <h1 style="text-align: center; margin-top: 28px;">Manage Items</h1>
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10 scrollable">
      <table>
        <tr class="t-headers">
          <th>Name</th>
          <th>Price</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>

        <tr>
          <td><input placeholder="name" [(ngModel)]="itemtoinsert.name"></td>
          <td><input placeholder="price" [(ngModel)]="itemtoinsert.price"></td>

          <td class="insert">
            <button (click)="insert(itemtoinsert)">Insert</button>
          </td>

          <td class="clear">
            <button (click)="clear()">Clear</button>
          </td>
        </tr>

          <tr *ngFor="let item of items">
            <td>
              <input [(ngModel)]="item.name">
            </td>
            <td>
             <input [(ngModel)]="item.price">
            </td>
           
          <td class="save">
            <button (click)="update(item)">Save</button>
          </td>
          <td class="delete">
            <button (click)="delete(item)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>