<body><br><br><br><br><br><br>
    <div class="container">
        <div class="row">
            <img src="../../../assets/users/{{user.employee.firstName}}{{user.employee.lastName}}.svg" alt="No Image Found">
            <h2>{{user.employee.firstName}} {{user.employee.lastName}}</h2>
        </div>
        <div class="row">
            <h3 class="text">Username</h3>
            <i class="fas fa-user"></i> <input class="input" [(ngModel)]="user.username"><br><br>
            <h3 class="text2">Password</h3>
            <i class="fas fa-key"></i> <input class="input" [(ngModel)]="user.password">
        </div><br>
        <div class="row">
            <a href=""><button (click)="update(user)">Update</button></a>
        </div>
    </div>
</body>